.PodcastList {
    padding: 20px;
}

/* Target every odd child to push them down */
.cardList {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}




.podcastCard {
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.cardContent {
    padding: 10px;
}

.img {
    width: 100%;
    height: auto;
}

.card-content h2 {
    font-size: 1.5rem;
    margin: 0;
}

.card-content p {
    margin: 5px 0;
}